container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py db upgrade"
    leader_only: true
  02_zips:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py zips"
    leader_only: true
