files:
    "/etc/httpd/conf.d/less_logging.conf":
        mode: "000644"
        owner: root
        group: root
        content: | 
            <VirtualHost *:80>  
                LogFormat "%u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" limited
                CustomLog "logs/access_log" limited
            </VirtualHost>